[submodule ".registry"]
	path = .registry
	url = https://github.com/circadia-bio/circadia-bio.r-universe.dev
	branch = HEAD
[submodule "Ritable"]
	path = Ritable
	url = https://github.com/circadia-bio/R-itable
	branch = v0.1.0
[submodule "Rtractor"]
	path = Rtractor
	url = https://github.com/circadia-bio/Rtractor
	branch = v0.1.0
[submodule "axR"]
	path = axR
	url = https://github.com/circadia-bio/axR
	branch = v0.1.1
[submodule "boldR"]
	path = boldR
	url = https://github.com/circadia-bio/boldR
	branch = v0.1.0
[submodule "circadia"]
	path = circadia
	url = https://github.com/circadia-bio/circadia
	branch = v0.1.0
[submodule "clerkR"]
	path = clerkR
	url = https://github.com/circadia-bio/clerkR
	branch = v0.1.2
[submodule "dynR"]
	path = dynR
	url = https://github.com/circadia-bio/dynR
	branch = v0.1.5
[submodule "hypnoR"]
	path = hypnoR
	url = https://github.com/circadia-bio/hypnoR
	branch = v0.1.1
[submodule "mrpheus"]
	path = mrpheus
	url = https://github.com/circadia-bio/mrpheus
	branch = v0.1.4
[submodule "slumbR"]
	path = slumbR
	url = https://github.com/circadia-bio/slumbR
	branch = v0.1.0
[submodule "syncR"]
	path = syncR
	url = https://github.com/circadia-bio/syncR
	branch = v0.1.0
[submodule "tallieR"]
	path = tallieR
	url = https://github.com/circadia-bio/tallieR
	branch = v0.2.0
[submodule "zeitR"]
	path = zeitR
	url = https://github.com/circadia-bio/zeitR
	branch = v0.1.5
